.why-us {

  border: none;
  box-shadow: none;


  a {
    text-decoration: underline;
    text-decoration-color: #ffffff;
    display: flex;
    align-items: center;

    svg {
      transition: transform 0.2s ease-in;
    }
  }

  a:hover {
    text-decoration-color: $tertiary-color;

    svg {
      transform: rotate3d(0,1,0,180deg);
      transition: transform 0.2s ease-in;
    }

    h5 {
      color: $tertiary-color;
    }
  }

  h5 {
    color: white;
    font-size: 22px;
    margin-bottom: 0;
  }

  .why-us-items {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .why-us-item {
    padding-bottom: 8px;
    display: flex;
    align-items: center;

    svg, img {
      height: 32px;
      width: 32px;
      margin-right: 12px;
    }
  }
}