* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 12px;
  color: $primary-color;
  position: relative;
  font-size: 17px;
  font-family: 'Prompt', sans-serif;
  background: linear-gradient(to bottom, $background-color, $background-fade-color);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cocogoose', sans-serif;
}

section {
  margin-bottom: 32px;
  padding: 64px;
}

.section-title {
    writing-mode: vertical-lr;
    white-space: nowrap;
    font-family: 'Cocogoose Block';
    text-align: right;
    font-size: 92px;
    text-shadow: 0px -2px 3px $tertiary-color;
    transform: rotate(180deg);
  }

.section-title-horizontal {
  padding-bottom: 20px;
  font-size: 92px;
  font-family: 'Cocogoose Block';
  text-shadow: -2px 0px 3px $tertiary-color;

  @include breakpoint(medium down) {
    font-size: 48px!important;
  }
}

