.testimonial {
  padding: 96px 24px;
  text-align: center;
  svg {
    width: 100px;
  }

  h3 {
    font-size: 24px;
    color: #ffffff;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}