.download-now {
  h2 {
    color: #ffffff;
    font-size: 28px;
  }

  .button-wrapper {
    text-align: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
  }
}